<h1>
  Calendar Events
</h1>

<div id="app_cal">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>

  <%= calendar @date do |date| %>

      <%= date.day %>
      <% if @events[date.to_s] %>
          <ul>
            <% @events[date.to_s].each do |event| %>
                <li><%= event%></li>
            <% end %>
          </ul>
      <% end %>
  <% end %>
</div>